#information_submission{
    width: 330px;
    border: 1px solid black;
}

input{
    margin-left: 10px;
    margin-top: 10px;
}

label{
    display: inline-block;
    width: 105px;
    padding-left: 15px;
}

#submission_btn {
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#newAccount {
    margin-left: 100px;
}

#create_account{
    margin: 10px;
}

.eventform{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.time_login{
    margin: 10px;
}
#teamform{
    width: 250px;
    display: flex;
    flex-direction: column;
}
#submission{
    padding-left: 50px;
}
.back_btn{
    margin:10px;
}